<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.0.0/build.css" />
    <link href="/theme/style.css" rel="stylesheet" />
    <link href="/theme/slideshow.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/theme/favicon.png"/>
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% block seo %}
    {% endblock %}
    {% endblock head %}
  </head>

  {% set category_icons = {
    'Пост': '📝',
    'Post': '📝',
    'Праздничный пост': '🍻',
    'Понятие': '<i class="fas fa-puzzle-piece"></i>',
    'Видео': '<i class="fab fa-youtube-square"></i>',
    'Инфографика': '📈',
    'Презентация': '📰',
    'Курсач': '<i class="fas fa-graduation-cap"></i>',
    'Обзор': '⚖',
    'Люди': 'Ψ',
    'People': 'Ψ',
    'Добро и зло': '☮',
    'Good and evil': '☮',
    'Вселенная': '⚛',
    'Universe': '⚛',
    'Будущее': '<i class="fas fa-space-shuttle"></i>',
    'Futurism': '<i class="fas fa-space-shuttle"></i>',
    'Просто о сложном': '<i class="fas fa-file-archive"></i>',
    'Decomplication': '<i class="fas fa-file-archive"></i>',
    'Философия': '☯',
    'Philosophy': '☯',
    'Искусство': '📖',
    'Art': '📖',
  } %}
  {% set category_colors = {
    'Пост': 'color: white; background-color: green;',
    'Праздничный пост': 'color: white; background-color: Chocolate;',
    'Понятие': 'color: white; background-color: black;',
    'Post': 'color: white; background-color: green;',
    'Видео': 'color: white; background-color: red;',
    'Инфографика': 'color: white; background-color: #428bca;',
    'Презентация': 'color: black; background-color: AntiqueWhite;',
    'Курсач': 'color: white; background-color: Indigo;',
    'Обзор': 'color: black; background-color: AntiqueWhite;',
    'Люди': 'color: black; background-color: AntiqueWhite;',
    'People': 'color: black; background-color: AntiqueWhite;',
    'Добро и зло': 'color: white; background-color: green;',
    'Good and evil': 'color: white; background-color: green;',
    'Вселенная': 'color: white; background-color: black;',
    'Universe': 'color: white; background-color: black;',
    'Будущее': 'color: white; background-color: #428bca;',
    'Futurism': 'color: white; background-color: #428bca;',
    'Просто о сложном': 'color: white; background-color: Indigo;',
    'Decomplication': 'color: white; background-color: Indigo;',
    'Философия': 'color: white; background-color: Chocolate;',
    'Philosophy': 'color: white; background-color: Chocolate;',
    'Искусство': 'color: white; background-color: brown;',
    'Art': 'color: white; background-color: brown;',
  } %}

  <body id="index" class="archive">
    {% if page_name != 'index' %}
      <a href="{{ SITEURL }}" class="sticky-button" title="{{ gettext('Return to blog index') }}">⮜ {{ gettext('Back') }}</a>
    {% endif %}
<!--    <nav class="navbar navbar-default" role="navigation">-->
<!--      <div class="container">-->
<!--        <div class="topnav" id="myTopnav">-->
<!--          <a href="{{ SITEURL }}" id="mainpage" class="nav">🏠 {{ gettext('Blog') }}</a>-->
<!--          <div class="dropdown">-->
<!--            <button class="dropbtn" id="projects">📚 {{ gettext('Books') }} -->
<!--              <i class="fa fa-caret-down"></i>-->
<!--            </button>-->
<!--            <div class="dropdown-content">-->
<!--              <a href="{{ SITEURL }}/ce.html">{{ gettext('The Chimpanzee Effect') }}</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <a href="{{ SITEURL }}/translations.html" id="translations" class="nav"><i class="fas fa-language"></i> {{ gettext('Translations') }}</a>-->
<!--          <a href="http://www.youtube.com/c/FunBotan" target="_blank" class="fab fa-youtube"></a>-->
<!--          <a href="https://twitter.com/CyberApeStories" target="_blank" class="fab fa-twitter"></a>-->
<!--          <a href="https://t.me/cyberape" target="_blank" class="fab fa-telegram-plane"></a>-->
<!--        </div>-->
<!--        <div class="motto">-->
<!--          {{ gettext('Literary blog about philosophy, futurism and science fiction') }}.</a>-->
<!--          <br />-->
<!--          {% if DEFAULT_LANG != main_lang %}-->
<!--          {{ gettext('Please keep in mind that I learned English as a foreign language') }}-->
<!--          {% endif %}-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="/theme/slideshow.js"></script>
    <footer class="footer">
      <div class="container">
        <p class="footer-text">
          {% if DEFAULT_LANG == main_lang %}
          <a href="{{ main_siteurl }}/en">Switch to English</a>
          {% else %}
          <a href="{{ main_siteurl }}">Переключить на русский</a>
          {% endif %}
        <br />
          &copy; <a href="{{SITEURL}}">{{SITENAME}}</a> powered by <a href="http://getpelican.com/">pelican</a> and hosted with &hearts; by <a href="https://github.com/">GitHub</a>
        </p>
      </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
